.DS_Store
.env
__pycache__/
.ipynb_checkpoints/
*.pt
*.pth
*.ckpt
*.bin
task1_llm/data/*
!task1_llm/data/.gitkeep
task2_sentiment/ayush/data_processed/*
!task2_sentiment/ayush/data_processed/.gitkeep
.venv/
